<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Verde_Oliva.Properties.Settings.VerdeOlivaConnectionString" connectionString="Data Source=ERIK-PC;Initial Catalog=VerdeOliva;Integrated Security=True" providerName="System.Data.SqlClient"/>
      <add name="bd" connectionString="Data Source=ERIK-PC;Initial Catalog=VerdeOliva;Integrated Security=True"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
